<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Picture List</title>
</head>
<body>
<div class="container">
    <h1>
        Picture List
    </h1>
    <hr>
    <div class="card"
         th:each="picture : ${pictureList}">
        <h3 th:text="${picture.title}"></h3>
        <img th:src="${picture.url}" th:alt="${picture.title}">
        <p th:text="${picture.description}"></p>
    </div>
</div>
</body>
</html>